@import url(_is-opened/popup__image_is-opened.css);
.popup__image{
    max-width: 80vw;
    display: none;
    max-height: 80vh;
    width: 50%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}